robot groep 2/robot groep 2/Debug/
*.atsuo
*.atsln
*.xml
*.cproj
robot groep 2/robot groep 2/i2c.h
robot groep 2/robot groep 2/i2c.c
robot groep 2/robot groep 2/libslavewire.a
robot groep 2/sl_vb/
arduino/ms_vb/
robot groep 2/robot groep 2/Makefile
robot groep 2/robot groep 2/main.o
robot groep 2/robot groep 2/rp6sl123.elf
robot groep 2/robot groep 2/rp6sl123.hex
arduino/arduino/Debug/
Interface/Interface/sketch_170313c/data/Arial-ItalicMT-48.vlw
